.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 200px;
  position: absolute;
  inset: 0;
}

.loader {
  width: 35px;
  height: 35px;
  border: 4px solid var(--gray-300);
  border-top: 4px solid var(--accent);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
