.profileContainer {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.backButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 14px;
  transition: color 0.3s;
  align-self: flex-start;
  font-family: var(--font-manrope);
  font-size: var(--headline);
  color: var(--gray-500);

  @media (max-width: 376px) {
    padding: 0 20px;
  }
}

.twoColumnLayout {
  display: flex;
  gap: 40px;
  flex: 1;
  width: 100%;

  @media (max-width: 376px) {
    flex-direction: column;
    gap: 20px;
  }
}

.leftColumn {
  flex-shrink: 0;
  width: 360px;
  height: fit-content;
}

.userInfo {
  background: var(--white);
  border-radius: 12px;
  padding: 40px 40px 10px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.avatar {
  width: 280px;
  height: 485px;

  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
}

.userTextInfo {
  text-align: left;
  color: var(--gray-400);
  display: flex;
  flex-direction: column;
}

.profileName {
  color: #333;
}

.selected {
  color: var(--bg-dark);
}

.rightColumn {
  flex: 1;
  min-width: 0;
  background-color: var(--white);
  padding: 40px;
  border-radius: 16px;
  height: fit-content;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonContainer {
  margin-top: 28px;

  @media (max-width: 376px) {
    width: 100%;
  }
}

.saveButton {
  padding: 10px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
