.button {
  background-color: var(--bg-dark);
  color: var(--white);
  font-weight: 600;
  padding: 12px 42px;
  font-family: var(--font-manrope);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    background-color: var(--gray);
    color: var(--gray-500);
  }
  @media (max-width: 375px) {
    font-size: var(----mobile-text2-semibold);
  }
}
