.wrapper {
  background-color: var(--white);
  margin-bottom: 30px;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 16px 20px;
  font-family: var(--font-inter);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.logoIcon {
  width: 24px;
  height: 24px;
}

.logoText {
  font-size: var(--title);
  font-weight: 600;
  white-space: nowrap;
}

.logoPart1 {
  color: var(--gray-500);
}

.logoPart2 {
  color: #333153;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  @media (max-width: 376px) {
    display: none;
  }
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.username {
  font-size: var(--text2-semibold);
  font-weight: 500;
  color: var(--gray-500);

  @media (max-width: 376px) {
    display: none;
  }
}
